In [1]:
import pandas as pd

In [21]:
df=pd.read_csv("MissingMigrantsGlobal.csv",error_bad_lines=False,encoding='latin',sep='\t')

In [22]:
df.head()

,Web ID,Region of Incident,Reported Date,Reported Year,Reported Month,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Cause of Death,Location Description,Information Source,Location Coordinates,Migration Route,URL,UNSD Geographical Grouping,Source Quality
0,51591,Mediterranean,"March 28, 2019",2019,Mar,NaN,2.0,2,36.0,NaN,2.0,NaN,Presumed drowning,"Off the coast of Chios, Greece",Hellenic Coast Guard via IOM Greece,"38.362368696592, 26.172509473654",Eastern Mediterranean,NaN,Uncategorized,5
1,51588,Mediterranean,"March 26, 2019",2019,Mar,4.0,NaN,4,11.0,3.0,NaN,1.0,Presumed drowning,"Off the coast of Ayvac?k district, Çanakkale p...",Turkish Coast Guard via IOM Turkey,"39.441975591614, 26.378816195919",Eastern Mediterranean,http://bit.ly/2YmiPAN,Uncategorized,5
2,51589,Mediterranean,"March 26, 2019",2019,Mar,1.0,NaN,1,NaN,NaN,NaN,NaN,Presumed drowning,"Body recovered on Playa del Tarajal, Ceuta, Sp...","Ceuta al día, El Pueblo de Ceuta","35.871901875921, -5.343037665842",Western Mediterranean,"http://bit.ly/2uyj7qO, http://bit.ly/2uwj5zC",Uncategorized,3
3,51590,Mediterranean,"March 26, 2019",2019,Mar,1.0,NaN,1,NaN,NaN,NaN,NaN,Presumed drowning,"Body recovered on beach near Tetouan, Morocco ...",El Pueblo de Ceuta,"35.635115912988, -5.275650103548",Western Mediterranean,http://bit.ly/2uwj5zC,Uncategorized,1
4,51587,Central America,"March 25, 2019",2019,Mar,1.0,NaN,1,NaN,NaN,1.0,NaN,Fall from train,"Train tracks in Teacalco, Tlaxcala, Mexico","Megalópolis, Línea de contraste","19.334475177429, -98.069823987538",NaN,"http://bit.ly/2uvDIvH, http://bit.ly/2TXAFLS",Central America,3

In [23]:
df.drop(['Reported Date','Number of Survivors','Location Description','URL','UNSD Geographical Grouping','Location Coordinates','Source Quality'],axis=1,inplace=True)

In [24]:
df.head()

,Web ID,Region of Incident,Reported Year,Reported Month,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Females,Number of Males,Number of Children,Cause of Death,Information Source,Migration Route
0,51591,Mediterranean,2019,Mar,NaN,2.0,2,NaN,2.0,NaN,Presumed drowning,Hellenic Coast Guard via IOM Greece,Eastern Mediterranean
1,51588,Mediterranean,2019,Mar,4.0,NaN,4,3.0,NaN,1.0,Presumed drowning,Turkish Coast Guard via IOM Turkey,Eastern Mediterranean
2,51589,Mediterranean,2019,Mar,1.0,NaN,1,NaN,NaN,NaN,Presumed drowning,"Ceuta al día, El Pueblo de Ceuta",Western Mediterranean
3,51590,Mediterranean,2019,Mar,1.0,NaN,1,NaN,NaN,NaN,Presumed drowning,El Pueblo de Ceuta,Western Mediterranean
4,51587,Central America,2019,Mar,1.0,NaN,1,NaN,1.0,NaN,Fall from train,"Megalópolis, Línea de contraste",NaN

In [25]:
df.dropna(how='all',axis=1,inplace=True)

In [26]:
df.dropna(how='all',axis=0,inplace=True)

In [28]:
df.shape

(5333, 13)

In [29]:
#1. What are the Top 10 Region of Incidents with higher incidents?

In [76]:
df.groupby('Region of Incident')['Total Dead and Missing'].sum().nlargest(10)

Region of Incident
Mediterranean         18229
North Africa           4027
Southeast Asia         2203
US-Mexico Border       1964
Sub-Saharan Africa     1549
Horn of Africa         1152
Central America         619
Caribbean               499
Europe                  442
Middle East             406
Name: Total Dead and Missing, dtype: int64

In [116]:
#df.groupby('Region of Incident')[('Information Source')].value_counts()

In [115]:
df['Information Source'].value_counts().groupby(df['Region of Incident'])

In [128]:
df.groupby('Region of Incident').max()['Cause of Death'].value_counts()

Violence                                   6
Vehicle Accident                           2
Bus fire                                   1
Hypothermia                                1
Vehicle Accident, Shot or stabbed          1
Violence, Rape                             1
Violence while attempting to board boat    1
Violence, Asphyxiation, Drowning           1
Presumed drowning                          1
Name: Cause of Death, dtype: int64

In [124]:
df.groupby(['Region of Incident'])['Information Source'].value_counts()

Region of Incident  Information Source
Caribbean           Dominican Today                                                                        3
                    El Nuevo Herald                                                                        3
                    Listin Diario                                                                          2
                    US Coast Guard                                                                         2
                    14ymedio                                                                               1
                    7 días                                                                                 1
                    AP                                                                                     1
                    Antigua Observer                                                                       1
                    Associated Press                                                                       1
                    Avance 24 en Linea                                                                     1
                    CDN, Hoy Digital                                                                       1
                    Caribbean News Now                                                                     1
                    Cayman inews and Cuban Archives                                                        1
                    Ciber Cuba                                                                             1
                    Diario Libre                                                                           1
                    EFE, Listin Diario, 7 días                                                             1
                    El Caribe                                                                              1
                    El Heraldo                                                                             1
                    El Nacional                                                                            1
                    El Nacional, El Nuevo Herald, Infobae, Noticias Curazao                                1
                    FL Keys News                                                                           1
                    Haiti Press Network                                                                    1
                    IOM Brazil, Business Standard News                                                     1
                    IOM Dominican Republic, Hoy Digital                                                    1
                    IOM Dominican Republic, Listin Diario                                                  1
                    IOM Haiti, Haitian Directorate for Civil Protection, Ministry of Interior              1
                    La Prensa, Ciber Cuba                                                                  1
                    Listin Diario, Acento                                                                  1
                    Listin Diario, Loop Haiti                                                              1
                    Local 10 ABC News                                                                      1
                                                                                                          ..
US-Mexico Border    U.S. Border Patrol, South Texas Human Rights Center                                    1
                    US Border Patrol / La Crónica de Chihuahua                                             1
                    US Border Patrol via USA Today                                                         1
                    US Border Patrol, AZ Central, Pima Office of the Medical Examiner                      1
                    US Border Patrol, CAL FIRE San Diego Public Affairs Bureau                             1
                    US Border Patrol, Caller Times                                                         1
                    US Border Patrol, Consulado de México en Caléxico, Imperial County Coroner's Office    1
                    US Border Patrol, El Paso Times                                                        1
                    US Border Patrol, Telemundo                                                            1
                    USA Today, ABC News                                                                    1
                    Uniradio                                                                               1
                    Uniradio Informa, Frontera                                                             1
                    Via Libre                                                                              1
                    Vox Pópuli, El Diario de Ciudad Victoria                                               1
                    Vox Pópuli, Hoy Tamaulipas                                                             1
                    Vox, Valor por Tamaulipas                                                              1
                    Washington Post                                                                        1
                    Webb County Office of the Medical Examiner - Dr Corinne Stern                          1
                    Webb County Office of the Medical Examiner via KGNS                                    1
                    Zocalo Piedras Negras                                                                  1
                    Zocalo, KVIA                                                                           1
                    Zupango                                                                                1
                    Zócalo, El Siglo                                                                       1
                    Zócalo, K911 Noticias                                                                  1
                    Zócalo, La Voz                                                                         1
                    Zócalo, SuperChannel 12                                                                1
                    Zócalo, Telemundo San Antonio                                                          1
                    Zócalo, Vanguardia                                                                     1
                    canalestrellatv                                                                        1
                    netnoticias.mx                                                                         1
Name: Information Source, Length: 1464, dtype: int64

In [130]:
df['Cause of Death'].value_counts()[:10]

Drowning                                    968
Sickness and lack of access to medicines    757
Unknown                                     549
Unknown (skeletal remains)                  469
Vehicle Accident                            444
Presumed drowning                           347
Shot                                        171
Dehydration                                 121
Starvation                                   89
Hypothermia                                  79
Name: Cause of Death, dtype: int64

In [132]:
df['Information Source'].value_counts()[:10]

Mixed Migration Monitoring Mechanism Initiative (4Mi)    960
Mixed Migration Monitoring Mechanism Initiative (4mi)    706
Pima County Office of the Medical Examiner               681
MHub                                                     190
IOM Libya                                                111
Syrian Observatory for Human Rights                       96
IOM Afghanistan                                           92
IOM Italy                                                 90
UNHCR                                                     62
South Texas Human Rights Center                           46
Name: Information Source, dtype: int64

In [133]:
df.head()

,Web ID,Region of Incident,Reported Year,Reported Month,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Females,Number of Males,Number of Children,Cause of Death,Information Source,Migration Route
0,51591,Mediterranean,2019,Mar,NaN,2.0,2,NaN,2.0,NaN,Presumed drowning,Hellenic Coast Guard via IOM Greece,Eastern Mediterranean
1,51588,Mediterranean,2019,Mar,4.0,NaN,4,3.0,NaN,1.0,Presumed drowning,Turkish Coast Guard via IOM Turkey,Eastern Mediterranean
2,51589,Mediterranean,2019,Mar,1.0,NaN,1,NaN,NaN,NaN,Presumed drowning,"Ceuta al día, El Pueblo de Ceuta",Western Mediterranean
3,51590,Mediterranean,2019,Mar,1.0,NaN,1,NaN,NaN,NaN,Presumed drowning,El Pueblo de Ceuta,Western Mediterranean
4,51587,Central America,2019,Mar,1.0,NaN,1,NaN,1.0,NaN,Fall from train,"Megalópolis, Línea de contraste",NaN

In [153]:
df[df['Reported Year'] == 2019].groupby('Reported Month')